<div class="registration-form">
    <fieldset>
        <legend>Регистрация</legend>
        <table>
            <tbody>
                <tr>
                    <td><input class="input-user-name" type="text" placeholder="Имя" /></td>
                </tr>
                <tr>
                    <td><input class="input-user-email" type="email" placeholder="E-mail" /></td>
                </tr>
                <tr>
                    <td><input class="input-password" type="password" placeholder="Пароль" /></td>
                </tr>
                <tr>
                    <td><input class="input-repeat-password" type="password" placeholder="Повторите пароль" /></td>
                </tr>
                <tr>
                    <td><input class="input-submit" type="button" onclick="registerUser()" title="Зарегистрироваться в системе" value="Зарегистрироваться" /></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>
